.container {
    height: 100vh;
    display: flex;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-list {
    width: 30%;
    border-right: 1px solid #d1cfce;
    background-color: #f96100;
    overflow-y: auto;
}

.searchUser {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.user-list input {
    width: 90%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.user {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    display: flex;
    gap: 1rem;
    align-items: center;
}

.user:hover {
    background-color: rgba(0, 0, 0, 0.1);
    /* Transparent color on hover */
    border: none;

}

.user p {
    margin: 0;
}

.chat-box {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 12px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

.chat-header p {
    margin: 10px;
}

.chat-messages {
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.received {
    flex-grow: 1;
    align-self: flex-start;
}

.sent {
    flex-grow: 1;
    align-self: flex-end;
    align-items: flex-end;
    /* text-align: right; */
}

.message {
    margin-bottom: 15px;
}

.message p {
    padding: 10px;
    border-radius: 10px;
    max-width: 60%;
}

.received p {
    background-color: #e5e5ea;
    align-self: flex-start;
}

.sent p {
    background-color: #f96100;
    color: white;
    align-self: flex-end;
}

.chat-input {
    padding: 15px;
    border-top: 1px solid #ddd;
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.chat-input button {
    padding: 10px 15px;
    background-color: #f96100;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: black;
}

.userAvtar,
.friendAvtar {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userAvtar {
    width: 40px;
    height: 40px;
}

.friendAvtar {
    width: 49px;
    height: 49px;
}

.userAvtar img,
.friendAvtar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.userChatDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.chatDetails {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textMessage {
    font-size: small;
    color: #f8ffffa1;
}

.notification {
    background-color: #2496aa;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-top: 6px;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatName {
    color: rgb(242 239 234);
    font-size: medium;
}

.messageDetails {
    color: rgb(242 239 234);
    ;
    font-size: medium;
}

.date {
    font-size: small;
}

.user-online {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #16bc167a;
    border-radius: 50%;
}