<aside id="sidebar" class="no-gutters sidebar-aside col-2">
    <div class="position-sticky">
        <ul class="sidebar">
            <li class="sidebar-item active">
                <a href="/users" class="nav-link">Dashboard</a>
            </li>
            <li class="sidebar-item">
                <a href="/users/apps/" class="nav-link">Apps</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="nav-link">Chats</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="nav-link">Bootstrap</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="nav-link">Plugins</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="nav-link">Widgets</a>
            </li>
            <li class="sidebar-item">
                <a href="#" class="nav-link">Forms</a>
            </li>

        </ul>
    </div>
</aside>