* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.sidebar-aside{ 
    min-height: 100vh;
    background-color: #f7682e;
}
.sidebar{
  margin: 0;
  padding: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 1.5rem;
    font-size: 1.2rem;
    padding-block: 2rem;
}
.sidebar li{
  /* background-color:pink; */
  padding: 0.6rem 1rem;
  margin-left: 2rem;
  border-radius: 100vw 0 0 100vw;
  transition:  0.3s ease;

}
.sidebar li.active{
  background-color: #ffffff;
  color: #f7682e;
  position: relative;
}
.sidebar li.active a{
  color: #f7682e;  
}
.sidebar li a{
  color: white;
}
.sidebar li:hover {
font-size:1.3rem;
color: #ffffff;
}
.sidebar li.active::before,.sidebar li.active::after{
  --border-radius: 1.2rem;
  content: '';
  position: absolute;
  width: var(--border-radius);
  height: var(--border-radius);
  background-color: #f7682e;
  right: 0;
  border-radius: 100vw;
}
.sidebar li.active::before{
  top: calc(var(--border-radius) * -1);
  border-radius: 0 0 100vw 0;
  box-shadow: 5px 5px 5px #ffffff;
}
.sidebar li.active::after{
  bottom: calc(var(--border-radius) * -1);
  border-radius: 0 100vw 0 0;
  box-shadow: 5px -5px 0 5px #ffffff;
}

/* .sidebar-item a{
    color: rgb(255, 9, 9);
    display: block;
    text-decoration: none;
} */

  .row > * {
    padding-right: 0 !important;
    padding-left: 0 !important;
}